## Preprocessing

In [1]:
# Notebook was created in Google Colab and later downloaded as a Jupyter file
# Tutor David Chao assisted with the development of the logic and syntax of this code.
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(["EIN", "NAME"], axis='columns')
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
counts_application = application_df['APPLICATION_TYPE'].value_counts()
counts_application

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(counts_application[counts_application < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
counts_classification = application_df['CLASSIFICATION'].value_counts()
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
counts_classification[counts_classification > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(counts_classification[counts_classification < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
categorical_df = pd.get_dummies(application_df)
categorical_df.shape

(34299, 44)

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = categorical_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = categorical_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)

# Output layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 4s 2ms/step - loss: 0.5702 - accuracy: 0.7238
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7308
Epoch 3/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7317
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7323
Epoch 5/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7324
Epoch 6/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5491 - accuracy: 0.7325
Epoch 7/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7326
Epoch 8/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7339
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7342
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7352
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7349
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7344
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7366
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7365
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7370
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7376
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7356
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7358
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7369
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7368
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7371
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7377
Epoch 23/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7363
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7375
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7375
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7373
Epoch 27/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7384
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7391
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7383
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7384
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7396
Epoch 33/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 34/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7389
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7392
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7391
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7395
Epoch 38/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7387
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7386
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7376
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7387
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7387
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7396
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7390
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7396
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7394
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7401
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7394
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7396
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7394
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7401
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7396
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7403
Epoch 55/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7400
Epoch 56/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7400
Epoch 57/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7406
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7404
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7404
Epoch 60/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7393
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7399
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7396
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7400
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7399
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7400
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7404
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7403
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7400
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7402
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7403
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7406
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7402
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7410
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7402
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7407
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 81/100

858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7402
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7410
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7410
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7409
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7407
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7411
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7411
Epoch 90/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7405
Epoch 91/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7408
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7411
Epoch 94/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7405
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7406
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7408
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7412
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7410
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7406

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5570 - accuracy: 0.7217 - 400ms/epoch - 2ms/step
Loss: 0.5569862127304077, Accuracy: 0.7217200994491577

In [16]:
# Export our model to HDF5 file
# Saving this as keras since HDF5 is considered legacy
#  YOUR CODE GOES HERE
nn.save("AlphabetSoup.keras")