## Preprocessing

In [1]:
# Notebook was created in Google Colab and later downloaded as a Jupyter file
# Tutor David Chao assisted with the development of the logic and syntax of this code.
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis='columns')
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS", "STATUS"], axis='columns')
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [4]:
application_df["ORGANIZATION"].value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
counts_application = application_df['APPLICATION_TYPE'].value_counts()
counts_application

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_application[counts_application < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
counts_classification = application_df['CLASSIFICATION'].value_counts()
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classification[counts_classification > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts_classification[counts_classification < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_df = pd.get_dummies(application_df)
categorical_df.shape

(34299, 42)

In [12]:
# Split our preprocessed data into our features and target arrays
X = categorical_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = categorical_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 50
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4200

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 9301 (36.33 KB)
Trainable params: 9301 (36.33 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
858/858 [==============================] - 3s 2ms/step - loss: 0.5678 - accuracy: 0.7246
Epoch 2/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7294
Epoch 3/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7313
Epoch 4/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7333
Epoch 5/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7325
Epoch 6/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7333
Epoch 7/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7338
Epoch 8/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7350
Epoch 9/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7345
Epoch 10/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7335
Epoch 11/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7361
Epoch 12/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 13/150
858/858 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7362
Epoch 14/150
858/858 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7366
Epoch 15/150
858/858 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 16/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7360
Epoch 17/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7369
Epoch 18/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7369
Epoch 19/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7371
Epoch 20/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7378
Epoch 21/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7378
Epoch 22/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 23/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7378
Epoch 24/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7376
Epoch 25/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7375
Epoch 26/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7381
Epoch 27/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7384
Epoch 28/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7380
Epoch 29/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7383
Epoch 30/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7393
Epoch 31/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 32/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 33/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 34/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7390
Epoch 35/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7387
Epoch 36/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 37/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7399
Epoch 38/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7391
Epoch 39/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 40/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7394
Epoch 41/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7392
Epoch 42/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 43/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7395
Epoch 44/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 45/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7403
Epoch 46/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7395
Epoch 47/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7400
Epoch 48/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7400
Epoch 49/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 50/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7398
Epoch 51/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 52/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7395
Epoch 53/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 54/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7395
Epoch 55/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7403
Epoch 56/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7391
Epoch 57/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 58/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 59/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7405
Epoch 60/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 61/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 62/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 63/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 64/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 65/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 66/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7408
Epoch 67/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 68/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 69/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 70/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 71/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 72/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 73/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7405
Epoch 74/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 75/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 76/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7411
Epoch 77/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7405
Epoch 78/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7410
Epoch 79/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7413
Epoch 80/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 81/150

858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7407
Epoch 82/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7408
Epoch 83/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 84/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 85/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7401
Epoch 86/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7414
Epoch 87/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7408
Epoch 88/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7414
Epoch 89/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7405
Epoch 90/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7412
Epoch 91/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7410
Epoch 92/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7412
Epoch 93/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7415
Epoch 94/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7413
Epoch 95/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7411
Epoch 96/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7411
Epoch 97/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7411
Epoch 98/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7414
Epoch 99/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7417
Epoch 100/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7414
Epoch 101/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7418
Epoch 102/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7414
Epoch 103/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7412
Epoch 104/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7415
Epoch 105/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7412
Epoch 106/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7421
Epoch 107/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 108/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7419
Epoch 109/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7419
Epoch 110/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7415
Epoch 111/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7413
Epoch 112/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7414
Epoch 113/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7416
Epoch 114/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7418
Epoch 115/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7419
Epoch 116/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7419
Epoch 117/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7413
Epoch 118/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7419
Epoch 119/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 120/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7420
Epoch 121/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7420
Epoch 122/150
858/858 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 123/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 124/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 125/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7418
Epoch 126/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7417
Epoch 127/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 128/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 129/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7418
Epoch 130/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 131/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7419
Epoch 132/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7424
Epoch 133/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7419
Epoch 134/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7419
Epoch 135/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7423
Epoch 136/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7420
Epoch 137/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7420
Epoch 138/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7414
Epoch 139/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7418
Epoch 140/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7425
Epoch 141/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7419
Epoch 142/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7415
Epoch 143/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7423
Epoch 144/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 145/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 146/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7424
Epoch 147/150
858/858 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7420
Epoch 148/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 149/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7420
Epoch 150/150
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7415

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5613 - accuracy: 0.7227 - 535ms/epoch - 2ms/step
Loss: 0.5613148808479309, Accuracy: 0.7227405309677124

In [18]:
# Export our model as keras since HDF5 is considered legacy

nn.save("AlphabetSoupCharity_Optimization.keras")